---
# handlers file for roles/django

- name: Selinux add port
  shell: semanage port -a -t http_port_t -p tcp 8085
  listen: uwsgi_nginx
  
- name: Selinux add port
  shell: semanage port -a -t http_port_t -p tcp 8090
  listen: uwsgi_nginx

- name: Uwsgi restart
  systemd:
    name: uwsgi
    state: restarted
    daemon-reload: yes
    enabled: yes
  listen: uwsgi_nginx

- name: start nginx
  systemd:
    name: nginx
    state: started
    enabled: yes

- name: restart nginx
  systemd:
    name: nginx
    state: restarted
  listen: uwsgi_nginx

- name: start php-fpm
  systemd:
    name: php-fpm
    state: started
    enabled: yes

- name: restart php-fpm
  systemd:
    name: php-fpm
    state: restarted
